:root {
  --theme-accent: #dedad7;
  --theme-primary: #000;
}

/* Custom Tab Styles */
.k-tabs {
  margin-top: 12px;
  margin-inline: 0;
  gap: var(--spacing-2);

  .k-tabs-button {
    color: light-dark(var(--color-black), var(--color-white));
    padding-right: var(--spacing-3);

    .k-button-text {
      filter: none !important;
    }

    &:hover {
      background: light-dark(rgba(0, 0, 0, 0.05), rgba(255,255,255,0.05));
    }

    &[aria-current] {
      color: light-dark(var(--color-black), var(--color-white));
      background: light-dark(var(--color-white), var(--color-gray-850));
      box-shadow: var(--shadow);

      &::after {
        display: none;
      }
    }
  }
}

/* Adjust Padding on List items with no image */
.k-list-item:not(:has(figure)) .k-item-content {
  padding-left: .625rem;
}
